<div id="about">
    <div id="content">
    	<div class="post postAbout">
        	<div class="text">
            	<p>Connection is an unforgettable ten days journey to Berlin, Istanbul and New York. An opportunity for you and your adult smoker friends to make connections with VIPs in each city, and the chance to be one, as your taken from one exclusive experience to another.</p>

<p>Have fun unlocking each city's badges. Each badge tells pasrt of the connections story and is unlocking using Connection Codes. Explore your city, find the codes, trade badges with adulst smoker friends and redeem them for special prizes. Discover all the badges and unique experiences await you!</p>
            </div>
        	<div class="kapal"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #about -->