<div id="badgeAuctionBid">
    <div id="content">
    	<div class="post postBadgeAuctionBid">
        	<div id="lastWeekWinner" class="smallBox">
            	<h1>LAST WEEK'S WINNER</h1>
                <div class="boxBadges">
                    <div class="theBadges"><a href="index.php?menu=badge-auction-bid"><img src="img/badge/badge1.png" /></a></div>
                </div>
                 <h2>WON</h2>
                <div class="boxTrader">
                    <div class="thumbTrader">
                        <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                    </div><!-- end .thumbTrader -->
                    <div class="boxName">
                        <span class="nameTrader">Jose</span>
                    </div><!-- end .boxName -->
                </div><!-- end .boxTrader -->
            </div><!-- end #lastWeekWinner -->
            <div id="boxBid">
            	<div class="boxBid">
                </div><!-- end .boxBid -->
                <a href="#placeBid" class="bidNow">BID NOW!</a>
            </div><!-- end #boxBid -->
            <div id="currentBid">
            	<h1><span class="day">3D</span><span class="hour">8H</span><span class="minute">2M</span><span class="second">45S</span></h1>
                <h2>CURRENT HIGHEST BID</h2>
                <div id="badgeBid">
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge1.png" /></div>
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge2.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge3.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge4.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge5.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge6.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge7.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge8.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge9.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge10.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge6.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                    <div class="boxBadges">
                        <div class="theBadges"><img src="img/badge/badge3.png" /></div> 
                        <div class="countBid">4</div>
                    </div>
                 </div><!-- end #badgeBid -->
            </div><!-- end #currentBid -->
            <div id="bidBy" class="smallBox">
                <h2>BY</h2>
                <div class="boxTrader">
                    <div class="thumbTrader">
                        <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                    </div><!-- end .thumbTrader -->
                    <div class="boxName">
                        <span class="nameTrader">Jose</span>
                    </div><!-- end .boxName -->
                </div><!-- end .boxTrader -->
            </div>
 		</div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #activity -->
{include file="marlboro/profile.html"}
{include file="marlboro/placeBid.html"}
{include file="marlboro/popup_finishBid.html"}