<link rel="stylesheet" type="text/css" href="css/skins/connection/skin3.css" />
<div id="badgesPage">
    <div id="content">
    	<div class="post postBadgesList">
        	<h1>YOUR TRADE REQUEST<br />MATCHes these people!</h1>
			<h2>click on a person to trade your badge!</h2>
            	<div id="listTrader">
                    <ul id="first-carousel" class="listTrader jcarousel-skin-tango">
                        <li>
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        </li>
                        <li>
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        </li>
                        <li>
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        </li>
                        <li>
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        </li>
                        <li>
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        <div class="boxTrader">
                            <div class="thumbTrader">
                                <a href="#popupProfile" class="popProfile"><img src="img/photo.jpg" /></a>
                            </div><!-- end .thumbTrader -->
                            <div class="boxName">
                                <span class="nameTrader">Jose</span>
                                <a class="tradeMyBadge" href="#popupTradeMyBadge"></a>
                            </div><!-- end .boxName -->
                        </div><!-- end .boxTrader -->
                        </li>
                    </ul>
                </div><!-- end #listTrader -->
            <div class="imgBadgesList"></div>
            <div class="kapal"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #badgesPage -->
{include file="marlboro/popup_tradeMyBadge.html"}
{include file="marlboro/profile.html"}