<div id="activity">
    <div id="content">
    	<div class="post postActivity">
        	<div id="listActivity">
                  <ul id="first-carousel" class="listactivity jcarousel-skin-tango">
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                    <li>
                    	<div class="thumbPhoto">
                        	<div class="crop"><img src="avatar/sample.jpg" /></div>
                        </div>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupActivity">see detail</a></p>
                        </div>
                    </li>
                  </ul>
          	</div><!-- end #listActivity -->
            <div class="town"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #activity -->
{include file="marlboro/popup_activity.html"}