<div id="activity">
    <div id="content">
    	<div class="post postMessages">
        	<div id="listActivity">
                  <ul id="first-carousel" class="listactivity jcarousel-skin-tango">
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                    <li>
                        <div class="list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit lorem, suscipit nec mattis a, iaculis eu erat. &raquo; <a class="seeDetail" href="#popupMessages">see detail</a></p>
                            <a href="#" class="trash">&nbsp;</a>
                        </div>
                    </li>
                  </ul>
          	</div><!-- end #listActivity -->
            <div class="peopleMessages"></div>
            <div class="messagesIcon"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #activity -->
{include file="marlboro/popup_messages.html"}