{literal}
<link href="css/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

	$("#jquery_jplayer_3").jPlayer({
		ready: function () {
			$(this).jPlayer("setMedia", {
				m4v: "http://www.loocker.com/video/mc.m4v",
				ogv: "http://www.loocker.com/video/mc.ogv",
				webmv: "http://www.loocker.com/video/mc.webm",
				poster: "img/videocover.jpg"
			});
		},
		play: function() { // To avoid both jPlayers playing together.
			$(this).jPlayer("pauseOthers");
		},
		swfPath: "js",
		supplied: "webmv, ogv, m4v",
		cssSelectorAncestor: "#marlboroVideo",
		size: { width: "392px", height: "245px"}
	});
});
//]]>
</script>
{/literal}
<div id="about">
    <div id="content">
    	<div class="post postAbout">
        	<div class="text">
            	<p>Connection is an unforgettable ten days journey to Berlin, Istanbul and New York. An opportunity for you and your adult smoker friends to make Connections with VIPs in each city, and the chance to be one, as you're taken  from one exclusive experience to another.</p>

<p>Have fun unlocking each city's badges. Each badge tells part of the Connections story and is unlocked using Connection Codes. Explore your city, find the codes, trade badges with adult smoker friends and redeem them for special prizes. Discover all the badges and unique experiences await you!</p>
            </div>
            <div id="marlboroVideos">
            <div id="marlboroVideo" class="jp-video jp-video-270p">
                <div class="jp-type-single">
                    <div id="jquery_jplayer_3" class="jp-jplayer"></div>
                    <div class="jp-gui">
                        <div class="jp-video-play">
                            <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                        </div>
                        <div class="jp-interface">
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>
                                </div>
                            </div>
                            <div class="jp-controls-holder">
                                <ul class="jp-controls">
                                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
            </div>
        	<div class="imgabout"></div>
        </div><!-- end .post -->
    </div><!-- end #content -->
</div><!-- end #about -->