{literal}
<style type="text/css" media="screen"> 
            html, body  { height:100%; }
            body { margin:0; padding:0; overflow:auto;}   
            object:focus { outline:none; }
            #flashContent { display:none; }
        </style>
		
{/literal}
<div id="containers"  id="containers" style="height:900px; z-index:10000; position:absolute; left:50%; margin:0 0 0 -400px; width:800px;top:-38px">
	
		<div id="flashContent"  >
					<p>
						To view this page ensure that Adobe Flash Player version 
						10.2.0 or greater is installed. 
					</p>
					{literal}
					<script type="text/javascript"> 
						var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
						document.write("<a href='https://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png' alt='Get Adobe Flash player' /></a>" ); 
					</script> 
					{/literal}
		</div>
	</div>	
<div id="popupGame" class="popupContainer popupGame">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
				
	
        
        <noscript>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="600" id="BerlinLights">
                <param name="movie" value="games/berlinLights/BerlinLights.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#000000" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="games/berlinLights/BerlinLights.swf" width="800" height="600">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#000000" />
                    <param name="allowScriptAccess" value="sameDomain" />
                    <param name="allowFullScreen" value="true" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                    <p> 
                        Either scripts and active content are not permitted to run or Adobe Flash Player version
                        10.2.0 or greater is not installed.
                    </p>
                <!--<![endif]-->
                    <a href="https://www.adobe.com/go/getflashplayer">
                        <img src="https://www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png" alt="Get Adobe Flash Player" />
                    </a>
                <!--[if !IE]>-->
                </object>
                <!--<![endif]-->
            </object>
        </noscript>    
				
				
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>

{literal}
	    <script type="text/javascript" src="games/berlinLights/swfobject.js"></script>
        <script type="text/javascript">
            // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
            var swfVersionStr = "10.2.0";
            // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
            var xiSwfUrlStr = "games/berlinLights/playerProductInstall.swf";
            var flashvars = {};
			{/literal}
            flashvars.user_id = "{$user_id}";
			{literal}
            var params = {};
            params.quality = "high";
            params.bgcolor = "#000000";
            params.allowscriptaccess = "sameDomain";
            params.allowfullscreen = "true";
            var attributes = {};
            attributes.id = "BerlinLights";
            attributes.name = "BerlinLights";
            attributes.align = "middle";
            swfobject.embedSWF(
                "games/berlinLights/BerlinLights.swf", "flashContent", 
                "800", "600", 
                swfVersionStr, xiSwfUrlStr, 
                flashvars, params, attributes);
            // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
            
            
     

	
		$("#popupGame").fadeIn();
		$("#bgPopup").fadeIn();
		
		$(".closePopup").click(function(){
			$("#bgPopup").fadeOut();
			location.href="index.php?page=game";
		});
			
		</script>
{/literal}