<div id="popupFinishTrade" class="popupContainer popupTrade">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
				<span id="finishTradeMessage">
                	<h2>your request has been submitted</h2>
                    {*}<h3>(Name) will also have to accept before the trade is finalized</h3>{/*}
					<span id="noFound" style="display:none">
						<h1 >no connections found for your badge trade request</h1> 
					</span>
                    <span id="found" style="display:none">
						<h1>click <a href="javascript:void(0)" id="tradeListUrl">here</a> to see who <br />wants to trade with you</h1>
					</span>
				</span>
					<span id="noFound" style="display:none">
						<h1 >no connections found for your badge trade request</h1> 
					</span>
					<span id="finishMessageSub"></span>
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>