<div id="popupPhoto" class="popupContainer">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="index.php?page=myprofile">&nbsp;</a>
                <div class="changePhotoContent">
                	<h1>CHANGE PHOTO</h1>
                	<div id="thumbPhotoBig">
                    	<a href="#"><img src="{if $avatar_med!='' }{$avatar_med}{else}img/photo.jpg{/if}" id="photoAvatar" width="100%" height="325px"/></a>
                    </div>
                    <form id="fphoto" method="post" action="index.php?page=myprofile&act=upload" class="uploadFoto" enctype="multipart/form-data">
                    	<label>BROWSE FILE</label>
                    	<input name="avatar" id="avatar" type="file" />
						<small class="yellow block">Maximal Upload File 250kb (.jpeg, .jpg, .png)</small>						
                        <input type="submit" class="btnupload" value="&nbsp;" />
						<span style="position: relative; top: 160px;" id="alertingMsg"></span>
                    </form>
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>
{literal}
<script src="js/jquery.form.js"></script> 
<script>
	$('#fphoto').ajaxForm(function(data) { 
				//$("#photoAvatar").attr("src",data.image);
                $(".changePhotoContent").html('<span class="photoError">'+data.message+'</span>');
            }); 
</script>
{/literal}