<div id="popupMessages" class="popupContainer">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
                	<h1><span id="titleUpdateClue"></span></h1>
                	<p><span id="contentUpdateClue" >Loading ... </span></p>
					<p><span id="dateUpdateClue" ></span></p>
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>