<div id="popupYellowCabMap" class="popupContainer">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
                	<div class="petaYellowcab">
                	<img src="" id="thumbPeta" />
                    <a class="fullzise" href="" id="bigPeta" target="_blank" >View full size in another window</a>
                    </div>
                </div><!-- end .poupContent -->
                <div class="yellowTapes">
                    <div class="yellowTape yellowTapePopUp">
                       
                    </div><!-- end .yellowTape -->
                </div><!-- end .yellowTapes -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>