<div id="popupTradeMyBadge" class="popupContainer">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent" class="popupTradeMyBadge">
            	<div class="selotip"></div>
                <a class="closePopup" href="index.php?page=myprofile">&nbsp;</a>
                <div class="poupContent">
					<div id="confirmRequestBadge"  style="display:none">
						<h1>CONFIRM REQUEST</h1>
						<table border="0" cellspacing="0" cellpadding="0" height="200">
						  <tr>
							<td><img src="img/badge/big/{$wantDetail->img}" /></td>
							<td><input type="button" class="tradeOK" onClick="submitTrade()" /></td>
							<td><img src="img/badge/big/{$withDetail->img}" /></td>
						  </tr>
						</table>
						<div class="boxTrader">
							<div class="thumbTrader">
								<a href="#"><img id="imgAvatar" src="" /></a>
							</div><!-- end .thumbTrader -->
							<div class="boxName">
								<span class="nameTrader" id="chosenTrader" ></span>
								<input type="checkbox" class="styled" checked="checked" disabled="disabled" />
							</div><!-- end .boxName -->
						</div><!-- end .boxTrader -->
					</div>
					<div id="gotThisBadge" style="display:none">
						<h1>You Got Badge</h1>
						<div style="text-align:center"> You have obtained a badge <br />	This Badge has been added to your collection</div>
						<div style="text-align:center"><img src="img/badge/big/{$withDetail->img}" /></div>
					</div>
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>