<div id="commingsoonBadges" class="popupContainer centerText">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
                	<h1>COMING SOON</h1>
                    <h3 class="grey">Here you can trade your badges with other connections to complete your set</h3>
                    <img src="img/badge_trade.png" />
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>