<div id="popupConfirmTrade" class="popupContainer popupTrade">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
                	<table border="0" cellspacing="0" cellpadding="0" height="300">
                      <tr>
                        <td><img src="img/badge/big/badge2.png" id="leftBadge" /></td>
                        <td><input type="button" class="finish" onClick="postTrade()" /></td>
                        <td><img src="img/badge/big/badge10.png" id="rightBadge" /></td>
                      </tr>
                    </table>
                </div><!-- end .poupContent -->
                {*}<h1><a href="#" class="btnConfirmRequest" onClick="postTrade()" >CONFIRM REQUESTS</a></h1>{/*}
                <p style="font-size:20px;">The selected badge will be put for trade and will deduct your badge amount upon confirmation. Click "X" to cancel.</p>
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>

