<div id="popupActivity" class="popupContainer popupYellowCab">
	<div id="popupHead">
    	<div id="popupBottom">
        	<div id="popupContent">
            	<div class="selotip"></div>
                <a class="closePopup" href="#">&nbsp;</a>
                <div class="poupContent">
					<h1><span id="titleUpdateClue"></span></h1>
                    <h3><span  id="contentUpdateClue"> Loading ... </h3>
                    <div class="entryDesc"> 
						<span  id="badgesGot">
						
						</span>
					</div>
                	<p><span  id="dateUpdateClue"></span></p> 
                </div><!-- end .poupContent -->
            </div><!-- end #poupContent -->
        </div><!-- end #popupBottom -->
    </div><!-- end #popupHead -->
</div><!-- end .popupContainer -->
<div id="bgPopup"></div>